[2019-08-21 17:36] markjaquith opened #1 "Strip "v" prefix off of tags"
In Git, it is common to prefix tagged versions with `v` (e.g. `v1.2.3`), but in the WordPress SVN plugin directory, it's common to have no prefix (e.g. a tag of `1.2.3`).

It would be nice if this recognized these patterns and stripped the `v` prefix when committing the SVN tag.

[2019-08-26 11:10] wolffe opened #2 "Where do I add my SVN credentials?"
Where do I add my SVN credentials? Is there a physical secrets file anywhere in my repo?

[2019-08-28 08:40] fabianmarz commented on #2
The secrets are defined in our Repo. See [this](https://help.github.com/en/articles/virtual-environments-for-github-actions#creating-and-using-secrets-encrypted-variables) man page for exact information.

[2019-08-30 21:22] helen commented on #2
@wolffe Sorry I missed this! Yes, they go in your repo settings. Thanks for the link, @fabianmarz! Looks like we should update the link in this repo's README, if anybody is interested in a PR for that.

[2019-08-31 02:00] helen commented on #2
I added the link to the readme, let me know if there are any other instructions I can clarify!

[2019-08-31 02:00] #2 closed

[2019-08-31 02:06] helen opened #4 "Add steps to example workflow around ZIP generation"
**Is your enhancement related to a problem? Please describe.**
With the new `.distignore` method of excluding files from deployment, the GitHub-generated ZIP file attached to releases no longer reflects what gets deployed to .org. Also, broadly that automatic naming is an issue, as you'll get `plugin-slug-X.Y.Z` as the folder name upon unzipping, which is not really what you or WordPress want.

**

[2019-09-04 15:16] 2ndkauboy opened #5 "Prevent deployment of pre-releases"
**Is your enhancement related to a problem? Please describe.**
When developing a plugin on GitHub, it's not uncommon to tag pre-releases (like beta and release candidates). Those tags would also trigger a deployment on the plugin directory.

**Describe the solution you'd like**
The action currently runs on all tags. With a simple addition, which excludes all tags with a suffix (e.g. 2.0.0-beta, 2.

[2019-09-04 16:10] helen commented on #5
Do you typically do these tags on `master` or do you tag on a development branch? Some people do deploy these to .org, FWIW :) We can certainly add more examples, I'd just love to know more about what you're doing as we develop these.

[2019-09-04 17:45] 2ndkauboy commented on #5
I think the way GitHub actions work, there is no difference if you create a tag on `master` or any other branch.

I personally don't tags/publish pre-releases, but for some plugins I help to maintain, we use pre-release tags. We usually do them on `master`.

[2019-09-04 19:19] helen commented on #5
I'm actually not sure about the tag+branch filtering? I suppose a tag is not technically pushed to a branch but I do wonder if they can somehow be combined in the way GitHub is using them, since a tag does know which branch that tagged commit was on. In any case, if it's all being done on `master` that doesn't change anything. Does it make sense to keep adding examples to the readme or would it be

[2019-09-05 12:51] 2ndkauboy commented on #5
I would just add an example to the readme. Either with this as an addition/alternative or by just explaining the new line.

[2019-09-05 16:23] helen commented on #5
Copying my comment to @sc0ttkclark over here:

[2019-09-06 06:24] vincenzo commented on #1
It could use "stable tag" from the readme.txt or ... it could do some work like `semantic-release` does for Node.js packages, and let us leave "Stable tag" set to "semantic-tag" for example, and then edit the readme.txt (same would hold for other files that are known to hold a version number) on the fly before releasing to SVN.

[2019-09-06 07:58] vincenzo commented on #1
Having been away from WP development for a while, and having just pushed 4 different releases to change the version in all the right places, I would back up my previous comment and ask for a `semantic-release` kind of approach, where plugin version is templated in readme and the main file at least.

[2019-09-06 13:51] helen commented on #1
@vincenzo Is this related to the `v` prefix or are you wanting more automation around the version number? Actions can be chained, so I think you’re probably looking for something to handle that sort of templating for you that isn’t specific to the deployment task, but rather would run before it. I think it would also affect how you potentially use the separate asset updater Action.

[2019-09-06 13:59] helen opened #7 "Non-existent assets directory causes failure"
**Describe the bug**
Pretty much as described. While perhaps not a best practice, there are plugins out there without screenshots or branding imagery.

**Steps to Reproduce**
1. Tag a release on a repo without a `.wordpress-org` directory.
2. Check Action run.
3. See error

[code]

**Expected behavior**
It should check for the directory and skip if doesn’t exist.

**Additional context**
This is a

[2019-09-12 00:30] robogeek commented on #7
I have the same problem.  I see there's a pull request underway to fix the problem.  I'd like to know when this is finished.  Thank you very much.

[2019-10-11 03:08] nielslange opened #10 "Add "Getting started" steps"
@helen Thank you so much for your excellent work here! This is exactly what I've been looking for. Unfortunately, I'm unable to get the strict working on my end and I'm sure I'm done something terribly stupid. 😂

Here's what I did:

1. Headed over to https://github.com/marketplace/actions/wordpress-plugin-deploy
2. Copied the example workflow file
3. Headed over to my plugin repo and created the s

[2019-10-11 05:20] Nikschavan commented on #10
Hey, @nielslange This action works after you push a tag to GitHub as per the default workflow.
So - Each tag you push to GitHub will be pushed to W.org as an update.

Can you confirm if you also created a tag/release on GitHub?

[2019-10-11 08:35] nielslange commented on #10
I did, @Nikschavan, and nothing happened. I bumped my plugin version from 1.6 to 1.6.1 and pushed the tag to `master`.

[2019-10-12 14:52] nielslange commented on #10
@Nikschavan I found out what I did wrong. Instead of pushing the tag to the repo, I pushed master to the repo.

[2019-10-12 14:52] #10 closed

[2019-10-14 19:40] #7 closed

[2019-10-15 00:47] kevindaus opened #11 "Request : Boilerplate plugin that implements this github action"
**Is your enhancement related to a problem? Please describe.**
Not related to a problem -- more of an additional documentation.

**Describe the solution you'd like**
A boilerplate wordpress plugin project that anyone can just clone and easily test using this github action .

**Designs**
Foo Wordpress Plugin - a boilerplate wordpress plugin implements this wordpress action.

**Describe alternatives

[2019-10-15 17:22] #1 closed

[2019-10-15 17:28] helen commented on #11
Hi @kevindaus! I totally agree, we should add sample workflow files to https://github.com/10up/plugin-scaffold, which you can use as a template when starting a new repo right in GitHub. Is that something you’d be interested in submitting a pull request for? I’m also happy to take care of it.

[2019-10-24 23:00] madiodio commented on #11
Hi there, is there at least any guide on how to get this running at all ? As #10 suggested. It would be awesome if there was a basic step by step to make sure you're not going to run on some errors that could be avoided.

I've migrated [this](https://github.com/paps-app/paps-shipping-woocommerce-plugin) to the new syntax and can't run successfully the action anymore. It constantly fails on this me

[2019-10-25 22:47] helen commented on #11
@madiodio You’ve commented out the `- uses: actions/checkout@master` step, which is necessary to have any of the GitHub repo available for use during the run. While I’m sympathetic to confusion as people get used to the new syntax and Actions in general, I’m not sure it’s worth duplicating general Actions documentation here. What do you think would make the basic example clearer?

[2019-10-26 20:13] madiodio commented on #11
@helen Thanks for pointing that out, including `-uses: actions/checkout@master` in the steps actually fixes the issue. What confused me was whether or not the `npm install` was needed at all.

I totally get that it could make duplicate the actual Actions documentations but a simple step by step would not hurt IMHO. I believe this would help maintain this repo like helping reduce issues like this a

[2019-10-30 12:39] Stiofan opened #13 "File names with @ not escaped"
**Describe the bug**
➤ Preparing files...
svn: E200009: 'trunk/public/assets/images/chosen-sprite@2x.png': a peg revision is not allowed here
##[error]Docker run failed with exit code 123

File names with @ sign need to be escaped with double @@

[2019-11-15 01:21] helen commented on #13
We could do something like appending an `@` to the end of every file name during add, it doesn't hurt anything.

@Stiofan Are you interested in working on a pull request?

[2019-11-20 10:12] sebastienserre opened #15 "Error when deplying"
Hello,

I try your action to test the deployment without SVN and got an error:

[code]

[2019-11-20 13:39] wolffe commented on #15
Same here. I have created a `package.json` file:

[code]

Now I'm only getting:

`npm ERR! Invalid version: "1.3.7.3"`

[2019-11-20 13:43] mauryaratan opened #16 "Deploy a specific directory within repository"
**Describe your question**

Wondering if it is possible to make this action deploy from a specific directory which is being created by `npm` task. Say `build/plugin-slug`.

Based on [docs](https://help.github.com/en/actions/automating-your-workflow-with-github-actions/workflow-syntax-for-github-actions#jobsjob_idstepsrun), if I changed the directory with `working-directory` keyword within workflow

[2019-11-20 13:47] wolffe commented on #15
UPDATE:

I changed the version to major.minor.feature (i.e. `1.3.8` in my case) and it worked. Now I'm only getting one error:

`npm ERR! missing script: build`

[2019-11-20 13:54] helen commented on #15
@sebastienserre @wolffe These are `npm` errors which tell me that you’re not using a build process, so you will want to remove the following lines from the workflow file, no need for a skeleton `package.json` if you’re not doing anything with it.

[code]

[2019-11-20 14:06] wolffe commented on #15
Thanks @helen

I have actually added a build keyword in my `package.json` file and it worked. The next error, though is in the deploying part:

`svn: E155005: No write-lock in '/github/svn-wp-perfect-plugin/trunk'`

[2019-11-20 14:11] sebastienserre commented on #15
no more error on my part, many thanks @helen

[2019-11-20 14:21] wolffe commented on #15
Another one from me:

`svn: E155023: Cannot copy to '/github/svn-wp-perfect-plugin/tags/1.3.10', as it is not from repository 'https://plugins.svn.wordpress.org'; it is from 'http://plugins.svn.wordpress.org'`

[2019-11-20 14:43] wolffe commented on #15
**UPDATE:**

It worked. I had an old (and hidden) `.svn` directory inside my plugin. I deleted it and it worked like magic.

Thanks @helen and thanks @10up!

[2019-11-20 14:45] jeffpaul commented on #15
@sebastienserre @wolffe sounds like you're both all set, glad to here Helen was able to help get things settled for you.  Let us know if you run into any further issues or have ideas on how to improve our GitHub Actions... thanks!

[2019-11-20 14:45] #15 closed

[2019-11-20 21:09] helen commented on #16
I'm sure it's _possible_ but I don't know yet if this is a direction I'd like this action to take. The docs you linked are describing directly running a command in a directory and does not impact this actual action, which does some directory changes anyway.

Can you describe what you're doing that the build is located in a subdirectory like that?

[2019-11-20 21:29] sery0ga commented on #16
@helen I have a similar question. I have a Github repository and the plugin's code is in the subdirectory of this repository. And I would like to keep it this way because there is some supportive code I see no reason to push to WordPress servers.

It would be awesome if I could set a new env variable with the directory of the plugin.

[2019-11-20 21:36] sery0ga commented on #16
@helen if I understand the code correctly, it could be done something like this:

`
if [[ -z "$PLUGIN_DIR" ]]; then
	PLUGIN_DIR=""
fi

....

rsync -rc "$TMP_DIR/$PLUGIN_DIR/" trunk/ --delete
`

[2019-11-22 18:43] mauryaratan commented on #16
@helen It's just how my [workflow](https://github.com/mauryaratan/analogwp-templates/blob/883482b2d202e5588a22ecc71298c4e0a13fdf9d/gulpfile.js#L62) is laid out. I usually keep the build directory separate from working directory. And this is something I do quite often.

It'd be grreat if @sery0ga's suggestion could make it in.

[2019-11-24 18:44] joppuyo opened #17 "Deploying plugin with files that are not in git"
Hey, I'm trying to deploy a plugin with a build process with composer install, npm install and webpack. When I tried deploying the plugin to w.org, it first failed because I didn't have a .git directory (I removed it during the build process).

I think this action is somehow tied to the git tag.

After I added the .git folder back, the deployment was successful but it deleted all my build files fr

[2019-11-24 19:28] helen commented on #17
@joppuyo please share your build process and whether you’re using `.gitattributes` or `.distignore`, the former also respects whatever you have in `.gitignore` (uses `git archive` underneath) and is not well-suited to built output so that may be that component of the issue, but without seeing your build process and why you’re doing things like removing the `.git` directory I can’t really troublesh

[2019-11-24 19:50] joppuyo commented on #17
Hey, here's the workflow I tried to use: https://github.com/joppuyo/acf-image-aspect-ratio-crop/blob/v3.1.4/.github/workflows/main.yml

Here's the [build log]( https://github.com/joppuyo/acf-image-aspect-ratio-crop/commit/e046f1d33c14addb5e32a7564a7c09fd1e8964bd/checks?check_suite_id=326374196)

It generates right output into the artifact (top right corner), github releases and into my packagist [

[2019-11-24 19:52] joppuyo commented on #17
I was initially doing something similar like [here](https://github.com/10up/action-wordpress-plugin-deploy/issues/16) by copying the release in its own directory but I changed the deployment to operate in the same directory for better compatibility with this action.

[2019-11-24 19:56] helen commented on #17
@joppuyo are you unable to share your build code? That doesn’t really help me understand why you would delete the .git directory or answer my question about which exclusion method you’re using.

[2019-11-24 20:09] joppuyo commented on #17
What do you mean by build code? The github actions workflow file lists all the commands I run: https://github.com/joppuyo/acf-image-aspect-ratio-crop/blob/v3.1.4/.github/workflows/main.yml .

I'm using [gitignore](https://github.com/joppuyo/acf-image-aspect-ratio-crop/blob/v3.1.4/.gitignore) to keep files like `/node_modules`, `/assets/dist` (css and js build files) and `/vendor` (composer) out of

[2019-11-24 20:14] helen commented on #17
Both `assets/dist` and `vendor` are in your `.gitignore`, which is why they're excluded from the deploy. If that's not what you want, then you will want to add a `.distignore` file with the files you don't want to include, which I imagine would include the items in `rm -fr .github node_modules .travis.yml .editorconfig .gitignore .prettierrc.js deploy.sh deploy-github.sh tests`, as well as `.git`,

[2019-11-24 20:38] joppuyo commented on #17
Hey, thanks for looking over the repo, apologies it's a bit of a mess since this is the first time I'm trying out github actions.

the Insert Special Characters plugin has pretty much the same deployment process I'm looking for.

I still don't totally understand what causes the dist files to disappear with my plugin and not the one you linked? Maybe modifying the git repo with rm causes this issue

[2019-11-24 21:12] joppuyo commented on #17
I moved the wp.org deploy action right after the npm and composer build step and now the deployment is working perfectly.

I think modifying files in the git repo was the cause of my problems.

I'll have to refector the workflow later but this action is already definitely better than my old shell script contraption for deploying plugins to w.org.

Thanks!

[2019-11-24 21:12] #17 closed

[2019-11-25 01:31] helen commented on #17
@joppuyo No problem! I think I need to write out more detailed instructions and maybe a technical explanation since most WP plugin devs are just getting into using Actions and probably don't write a lot of Bash day-to-day.

The reason why your previous process was leaving out those files was because without a `.distignore` file in your repo, it falls back to the `.gitattributes` + `.gitignore` met

[2019-11-26 22:37] Screenfeed opened #18 "Request: ability to add the plugin’s name in the commit’s message"
If the SVN user on the repository owns several plugins, it can be hard to follow with the current message:

It could be nice to be able to set an optional environment var containing the plugin’s name, that would display:

Alternatively, a fully customable message would also work of course.

[2019-12-06 02:54] dinhtungdu commented on #13
I can't reproduce the issue. I tested with files with `@` in the filename at the root directory and subdirectory, no error.

You can check the result here: https://github.com/dinhtungdu/command-palette/commit/5cf234b5900a54af56d7d8db7e71fc7979bf4688/checks?check_suite_id=344928829

_I forked this repo and remove the svn commit part for testing._

[2019-12-11 03:31] felipeelia opened #19 "Link to "encrypted secrets" GitHub Docs"
**Describe the bug**

Probably GitHub has updated their docs and the `Secrets are set in your repository settings` link present on the README.md file points to the wrong page.

**Steps to Reproduce**

1. Go to repo's README.md
2. Click on `Secrets are set in your repository settings.`
3. The link points to the [Virtual environments for GitHub-hosted runners](https://help.github.com/en/actions/auto

[2019-12-11 14:38] jeffpaul commented on #19
Welcome to our GitHub Actions and thanks for the report @felipeelia!  Mind making the same update to the https://github.com/10up/action-wordpress-plugin-asset-update repo as well?

[2019-12-11 16:23] felipeelia commented on #19
Thank you @jeffpaul! I'm happy to (modestly) retribute the effort you folks put on it. I've opened a [PR](https://github.com/10up/action-wordpress-plugin-asset-update/pull/11) with the same fix there as well. Let me know if there is something else where I can help, ok?

[2019-12-11 18:36] jeffpaul commented on #19
@felipeelia there's some ["help wanted"+"good first issues"](https://github.com/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+org%3A10up+label%3A%22help+wanted%22+label%3A%22good+first+issue%22) scattered across 10up's repos, but if there's one of our projects or a type of work you're most comfortable with I'd be happy to dig some more specific items up... just let me know!

[2019-12-11 18:46] felipeelia commented on #19
I'll give a look, for sure! Thanks once more @jeffpaul

[2019-12-25 16:38] mobeenabdullah opened #21 "##[error]Docker run failed with exit code 1"
I'm trying to deploy my plugin on SVN but it is giving me this "##[error]Docker run failed with exit code 1" error. Below is the Repo  URL:
https://github.com/mobeenabdullah/WP-Select-Primary-Category/

Below is the error details in the screenshot URL:
https://ibb.co/JmxpzTv

Waiting for the kind help.

Best,
Mobeen A.

[2019-12-25 18:57] mobeenabdullah commented on #21
Here's the link with "Runs" details:
https://github.com/mobeenabdullah/WP-Select-Primary-Category/runs/363296585

[2019-12-27 07:34] mobeenabdullah commented on #21
Update:
I was missing out the "tag" as in version number with the push, that was causing the issue :)

[2019-12-27 07:34] #21 closed

[2020-01-06 14:01] Gaya commented on #13
Think I solved it in #22. Seems like paths to be removed were not escaped.

[2020-01-07 19:55] #19 closed

[2020-01-14 17:31] jeffpaul opened #23 "Readme updates"
**Is your enhancement related to a problem? Please describe.**
It's not obvious the level of support provided for this repo, so let's add some clarification.

**Describe the solution you'd like**
- [x] add support level section and badge
- [x] add release version badge
- [x] add license badge
- [x] create CHANGELOG.md

**Designs**
n/a

**Describe alternatives you've considered**
none

**Additional

[2020-02-03 22:23] Screenfeed opened #25 "Move to https"
Hello.

**Is your enhancement related to a problem? Please describe.**
Nope.

**Describe the solution you'd like**
[code]
What about moving to https? Unless there is a reason not to?

[2020-02-10 18:30] khromov opened #27 ".distignore not ignoring .wordpress-org folder"
**Describe the bug**

The action does not pick up the `.distignore`  file and incorrectly commits the `.wordpress-org`  folder.

`.distignore`
https://github.com/khromov/tickset/blob/4b5cccf/.distignore

Build:
https://github.com/khromov/tickset/runs/436809733?check_suite_focus=true

Log:
[code]

Resulting files:
https://plugins.svn.wordpress.org/tickset/tags/1.0.3/.wordpress-org/

**Steps to Repr

[2020-02-10 19:24] khromov commented on #27
Turns out I had committed the `.wordpress-svn` folder into subversion in an attempt to "sync" it with the GitHub repo.

To fix it, I deleted the `.wordpress-svn` folder in subversion from `trunk/` and all the `tags/<version>` and then tagged a new release in GitHub.

It seems the issue might not have surfaced if this PR had been merged: https://github.com/10up/action-wordpress-plugin-deploy/pull/2

[2020-02-10 19:24] #27 closed

[2020-02-14 04:45] danieliser commented on #5
@2ndkauboy - Simply update your action script. This is ours using semver.

It works with v1.0.0, but not with v1.1.0-alpha.1 or v2.0-beta.3 etc

[code]

This works, but there is also `  tags-ignore`

[code]

[2020-02-22 19:06] Otto42 commented on #25
We would also prefer https be used, if there is no issues with it.

[2020-03-04 19:26] szepeviktor opened #29 "shellcheck in CI"
Please consider introducing shellcheck in CI https://github.com/marketplace/actions/shellcheck

[2020-03-04 21:18] #25 closed

[2020-03-04 21:45] #13 closed

[2020-03-04 21:49] helen commented on #18
Sure, that makes sense. Right now the emails .org sends are prepended with `$SLUG:` - maybe it makes sense to stick it at the end instead so it's not so redundant? I'm not sure which views people look at most, I use a dedicated user for our plugins rather than my own .org account so I don't really look at its profile/commit history, but I do check for the email alerts.

[2020-03-24 18:20] igorchernenko92 commented on #21
I have the same problem. @mobeenabdullah Could you describe what you did more fully ?

[2020-04-01 05:47] jakubmikita opened #32 "Bug: fatal: not a git repository when no .gitattributes file is present"
**Describe the bug**
When there are no `.gitattributes` nor `.distignore` files present in the build, the action fails.

Please see the [action log](https://github.com/BracketSpace/Notification-Signature/runs/550968026?check_suite_focus=true).

**Steps to Reproduce**
I'm using a build process that already puts all the clean files into a separate directory and starts the WP.org release from there.

[2020-04-01 05:54] jakubmikita commented on #32
Dirty fix - add empty `.distignore` file to the built files.

[2020-04-01 05:56] jakubmikita opened #33 "Bug: Access to '/!svn/me' forbidden"
**Describe the bug**
Action just throws:

[code]

**Additional context**
See the [action log](https://github.com/BracketSpace/Notification-bbPress/runs/550986399?check_suite_focus=true).

[2020-04-01 11:16] igorchernenko92 commented on #33
Hi
I had the same issue
need to make sure the correct details have been set within the "secrets" in repo settings
issue for me was that I wrote the value for SVN_USERNAME wrong...its important to put proper attention on the writing...uppercase, lowercase etc

[2020-04-01 16:13] helen commented on #32
Can you please describe the overall workflow you're looking for here? I think I understand it from looking but I'd rather you tell me than have me making guesses :) It is on my mind to add an example workflow to attach proper ZIP files to the GH releases as well, I just haven't gotten into what kind of changes or additions might need to be made to support that.

[2020-04-01 16:15] helen commented on #33
@Kubitomakita In addition to double checking the username/password secrets, be sure that the user in question has been added as a committer to the plugin and you've tried again after maybe 10-15 minutes to be sure the permissions have taken effect on .org.

[2020-04-01 17:38] jakubmikita commented on #32
Sure @helen!

So my process looks like this:
- Checkout the files and build everything (composer & yarn)
- Copy the dist files to another directory
- Upload this directory as an artifact
- Zip this directory with a nice name and upload as an artifact

So this is the build process the rest of the workflow jobs are depending on. This way the plugin is built once, not in every job.

So then each acti

[2020-04-01 17:46] jakubmikita commented on #32
Because there's no git checkout, it fails here: https://github.com/10up/action-wordpress-plugin-deploy/blob/develop/entrypoint.sh#L82

[2020-04-01 18:02] helen commented on #32
Yes, I can see the technical reason why this would fail, it began with `git archive` so I left that in place as a default via fallthrough rather than introducing another config option. The reason I'm asking for your workflow as a whole is because I don't believe in coming up with solutions until we've fully examined the problem :)

For the moment, I'm curious about `.build-excludes` - does it need

[2020-04-01 18:11] jakubmikita commented on #32
I think it could be named `.distignore` instead of `.build-excludes`, that would make thing easier.

What won't work is the assets directory, I think I have to checkout git either way and fire up the build once again or pull the `.wordpress-org` directory somehow

EDIT: ended up with [this workflow](https://github.com/BracketSpace/Notification/blob/develop/.github/workflows/stable.yml#L142) and we

[2020-04-01 18:25] jakubmikita commented on #33
Double checked the credentials and committer status, but this might be related to #32

[2020-04-01 18:41] helen commented on #32
I think I might be missing something here - the very first step in your stable workflow is a checkout. I think what renaming that file would mean is that you would run this action from the checkout directory rather than the build one, and actually I am not sure I entirely understand how this is running out of the build directory in the first place? Or if it even is? People in #30 would probably li

[2020-04-03 12:42] jakubmikita commented on #33
I found it... even when my username is `CapiTalized` SVN expects it to be `capitalized` for some reason...

[2020-04-03 12:42] #33 closed, assigned to nobody

[2020-04-03 14:11] helen commented on #33
Glad you got that sorted! Might be worth documenting or linking to a .org resource about it if it keeps coming up.

[2020-04-03 16:35] szepeviktor commented on #29
There is no CI 😲

[2020-04-03 17:13] helen commented on #29
Well, no, there wasn't, but only took a few minutes to add in #34.

Failure: https://github.com/10up/action-wordpress-plugin-deploy/pull/34/checks?check_run_id=558707518#step:4:4
Success: https://github.com/10up/action-wordpress-plugin-deploy/runs/558713421

[2020-04-03 17:37] szepeviktor commented on #29
Urgy-mergy!

[2020-04-03 20:05] #29 closed

[2020-04-05 20:41] ottok commented on #32
I seem to have bumped into the same bug. The line `git add .gitattributes && git commit -m "Add .gitattributes file"` fails with:
[code]
(extra lines due to debugging with `set -x`)

The funny thing is that this code is identical in the deploy and asset update actions. For the same repository, only the deploy fails (and asset update action succeeds). Could it be that Github Actions do something sp

[2020-04-06 13:14] helen commented on #32
@ottok You're missing the line `- uses: actions/checkout@master` in your tag deploy workflow :) Without that, it will not have any of the contents you're expecting, and it will not be a Git checkout. Also, is there any reason that you're using a fork of the Action or were you just testing?

[2020-04-06 13:19] ottok commented on #32
Yes, I am using a fork so I can debug.

[2020-04-06 13:28] ottok commented on #32
Confirm: I saw this bug because the line `- uses: actions/checkout@master` was accidentally omitted. So user error.

Maybe @Kubitomakita's problem in https://github.com/BracketSpace/Notification-Signature/blob/2111b3057efe3120f4a7e4dc249ec853e8e443d5/.github/workflows/stable.yml#L97-L113 is that he is using artifacts built from the repo, and not the git repo itself?

[2020-04-06 13:30] jakubmikita commented on #32
It is indeed. I ended having a classic workflow, with git checkout, build and this action and it's working fine. See: https://github.com/BracketSpace/Notification/runs/563654808?check_suite_focus=true

But still would be good to get it working with artifact

[2020-04-11 16:40] helgatheviking commented on #11
@madiodio I would love a step by step. I'm meandering my way through right now. I'm stuck on what permissions you need to give your github token so a screenshot of that would be a nice addition to the docs too.

[2020-04-11 17:30] helen commented on #11
@helgatheviking For the typical use case there shouldn’t be much more to it besides copying the base workflow file and adding the `SVN_USERNAME` and `SVN_PASSWORD` secrets to the repo settings. `GITHUB_TOKEN` is not required for this particular Action and is automatically provided by the Actions environment so there’s nothing to configure. Can you describe what you’re doing?

[2020-04-11 17:43] helgatheviking commented on #11
@helen Hi Helen! thank you so much for replying. The first example I looked at for this was in [ElasticPress](https://github.com/10up/ElasticPress/blob/develop/.github/workflows/push-deploy.yml#L15) which had a `GITHUB_TOKEN` in it. But looking at the docs again, and now you've confirmed, that isn't necessary. Thanks for clearing that up!

[2020-04-21 00:12] johnbillion commented on #5
Another option is to use the `release` event instead of `push.tags` and then the workflow will only fire when you publish the release on GitHub. The `published` type will only fire for published, non-prerelease releases.

[code]

_Edit:_ Changed the above to `released` instead of `published`.

[2020-04-21 23:40] Luc45 opened #35 "Help wanted: How to run composer install during the deploy process?"
**Describe your question**
I have a plugin that uses a PSR-4 autoloader. Currently, I have the `vendor` folder unignored and committed to the repo.

I would like, however, to be able to ignore the `vendor` folder and adjust the deploy process to run `composer install --no-dev` before actually packaging the ZIP to be sent to WordPress.org.

Problem is, I'm not sure how to accomplish this. Can you h

[2020-04-22 04:05] Luc45 commented on #35
I think I got it. I still didn't do an actual release to test it though. Feedbacks are welcome!

[code]

[2020-04-22 04:14] #35 closed, assigned to nobody

[2020-04-22 04:17] helen commented on #35
Hi! Yes, you can use direct `run` steps in your workflow file, and you can also collapse it into one step with multiple lines by starting with a `|`. You can see an example here: https://github.com/10up/autoshare-for-twitter/blob/develop/.github/workflows/deploy-to-wpdotorg.yml#L13

In your case, you shouldn't need the step with the `rm` bits because this Action will respect the `.distignore` file

[2020-04-22 04:38] Luc45 commented on #35
Thanks the pipe | tip is nice! I've just tried it out and there's a downside that the output of all commands shows up as a single string in Actions, where with individual "run" commands I get an accordion for each output. It works the same, but it's a bit harder to see:

Pipes:
[code]
![image](https://user-images.githubusercontent.com/9341686/79940887-5a3a6480-8439-11ea-9935-7b69afe354af.png)

Ind

[2020-04-23 07:11] tatthien opened #36 "Deploy error /tags/refs/heads' is not a directory"
Hi,

I get an error while deploying. It says:

[code]

Here is the deployment log:
https://github.com/tatthien/flat-preloader/runs/611100008?check_suite_focus=true

[2020-04-23 09:22] dinhtungdu commented on #36
Hi @tatthien,

I notice that you aren't using git tag, can you switch to tag and try again?

[2020-04-23 09:53] tatthien commented on #36
It works.
Thanks for helping.

[2020-04-23 09:53] #36 closed

[2020-05-06 09:37] shivapoudel commented on #4
Ref: https://github.com/10up/actions-wordpress/issues/8#issuecomment-624542152

[2020-05-11 21:54] shivapoudel opened #38 "How to execute composer command during build?"
We do not include `languages/<plugin-name>.pot` within git repository due to merge conflicts received time and again but auto generates them with the command `npm run build` which also executes `wp i18n` command during the build. How to execute composer script during the build action and add those files for the GitHub action?

Ref: https://github.com/wpeverest/everest-forms/blob/develop/package.js

[2020-05-20 18:26] tomusborne opened #41 "Tag from master or develop branch"
This might be a silly question, but I'm setting this up for the first time and want to make sure I'm doing it right.

Let's say I'm developing a new version in a `release/2.0` branch.

When my new version is ready, should I:

a) Merge `release/2.0` with `master`, and tag a new version from `master`
b) Tag a new version from my `release/2.0` branch, and then merge with `master` once the

I have the

[2020-05-20 20:19] helen commented on #41
Hi @tomusborne! I have not tried tagging off of another branch for .org release purposes but it shouldn't really matter to the Action because of the way Git tags work, it's more a question of what you want your history and tags to look like. The assets one is pickier because it won't run if you have any non-asset changes when comparing the branch (and any build process) with the SVN repo contents,

[2020-05-20 20:20] helen commented on #41
Of course, if you run into problems with whichever method you choose, let us know!

[2020-05-20 20:20] #41 closed, assigned to nobody

[2020-05-20 20:24] tomusborne commented on #41
Thanks for getting back to me so quickly @helen!

Got it, so I can merge into `master`, and the asset build will fail because of all the non-asset/readme changes.

Then I can tag a release and it will deploy to wp.org along with the updated readme.

Makes sense, thanks again!

[2020-05-20 21:01] helen commented on #41
Yup! It's kind of annoying that you get a failure, there used to be a neutral exit state but the last I checked it hadn't been brought back yet. But, if you expect the failure, then it's all good!

[2020-05-26 20:03] #4 closed

[2020-05-26 21:43] shivapoudel commented on #38
@helen Since ZIP generation is possible now! Please give a look at this `npm run build` process for POT generation. Additionally, the generated POT will differ for assets deploy action so we need to exclude that POT file check during the process too.

[2020-05-26 22:08] helen commented on #38
@shivapoudel ZIP uploading is still not working unfortunately :( As for the POT generation, you can run `npm run build` directly in the workflow for the deploy and not run build for the asset updater. Is there something else I'm missing there?

[2020-05-26 22:49] shivapoudel commented on #38
@helen I am also giving a look on ZIP generation as I also triggered this warning:
[code]

https://github.com/wpeverest/restaurantpress/runs/711110582?check_suite_focus=true

UPDATED: Found some issue log here https://github.com/actions/runner/issues/499

[2020-05-27 00:01] shivapoudel commented on #38
@helen regarding the asset updater. If we ignore POT file generation in Github repo and during the release run `npm run build` will only generate a POT file using `wp i18n` via composer then deploy plugin assets will not work because it will act as POT file was deleted. Similar logic if we also remove minified JS and won't include CSS just SCSS files.

Additionally, haven't tried but should we nee

[2020-05-27 03:45] helen commented on #38
Oh right, I forgot about that build complication again. Composer should be preinstalled, I use it for some workflows, not sure what you're asking there? I suppose you would probably want to run `composer install` in the workflow file.

[2020-05-27 08:24] shivapoudel commented on #38
@helen The simple answer is I don't prefer adding POT files, modification JS and CSS files in Github repos which we will generate during the deploy process through this action. Is there any we can ignore those checks during the readme/screenshot update action which is simply my scenario.

[2020-05-27 15:01] helen commented on #38
@shivapoudel Still thinking through this, and I have two questions.

First, why are you generating POT files for .org plugins on your own? I realized I hadn't been thinking about that scenario for this particular action because I rely on .org to generate them via language packs instead. Is there any reason to still be generating yourself?

For CSS and JS files, I personally would not want to ignor

[2020-05-27 16:11] shivapoudel commented on #38
@helen both answers are due to heavy merge conflict... while working in a small group of people (approx 25) this kind of scenario occurs and we have to switch some kind of good workflow which includes ignoring POT file generation and production build script file generation. Additionally, being an old member since few years back I have to take care of all the difficulty and among that is merge conf

[2020-05-27 17:02] helen commented on #38
Hmmm I don't think I really understand this still, why are you generating a POT file at all? And if you're not committing those built files how are there merge conflicts?

[2020-05-28 02:57] shivapoudel commented on #38
@helen Yeah! you are right if I don't commit those built files and there is no any merge conflict. But I am not talking about the merge conflicts issue, it's all about plugin asset/readme update using [this action](https://github.com/10up/action-wordpress-plugin-asset-update).

I receive this kind of failed step https://github.com/wpeverest/everest-forms/runs/682752668?check_suite_focus=true#step:

[2020-06-03 00:42] whyisjake opened #45 "A `wp-plugin-publish` script would be awesome to pair string updates with the tagging process."
**Is your enhancement related to a problem? Please describe.**
Replacing all of the strings for a version can be problematic. A user needs to find all of the strings and ensure that they are updated correctly.

**Describe the solution you'd like**
As a precommit action, all of the strings are updated to the proposed tag.

**Describe alternatives you've considered**
Manual operation, since a bunch

[2020-06-03 01:21] whyisjake commented on #45
Something similar to https://docs.npmjs.com/cli/publish would be cool

[2020-06-23 22:18] helen opened #46 "Rename `master` branch to `stable`"
**Describe the bug**
I think it would be much more understandable to name the `master` branch `stable`, as its real usage is when being referenced in workflow files (e.g. ` uses: 10up/action-wordpress-plugin-asset-update@master`). There is somewhat of an understanding that in a `develop`/`master` pairing that the latter implies stable/latest, but that requires knowing if a project is set up that w

[2020-06-26 19:01] helen commented on #46
As I was looking at this, it looks like I never merged `develop` to `master` for 1.5.0 anyway 🤦

[2020-06-26 20:45] #46 closed, assigned to helen

[2020-08-19 11:28] deanshmuel opened #48 "deploy action fails with no information"
Hi,
Im trying to deploy my wordpress plugin to svn using your deploy action but it keeps on constantly failing, I need help locating my problem.

the output my action yields:
 Wordpress plugin deploy1s
Set the SVN_USERNAME secret
##[warning]Unexpected input(s) 'SVN_PASSWORD', 'SVN_USERNAME', 'SLUG', valid inputs are ['entryPoint', 'args', 'generate-zip']
Run 10up/action-wordpress-plugin-deploy@sta

[2020-08-19 12:13] #48 closed, assigned to nobody

[2020-08-19 14:39] helen commented on #48
@deanshmuel Did you resolve this? It looks like you need to set those secrets in your repository. I need to take a look at whether we need to define these as expected inputs.

[2020-08-24 22:52] padams opened #49 "Binary Permission issue"
**Describe your question**

My plugin uses composer to download tar package from a custom repository. The unpacked tar contains a binary that has executable permission set on the filesystem.

When I run `composer install` locally all is well.

When i run `composer install` as an action workflow step right before the `10up/action-wordpress-plugin-deploy` step, the executable permission on the binar

[2020-08-27 07:54] KevinBatdorf opened #50 "Push to svn on release only (not pre-release)"
Similar to  https://github.com/10up/action-wordpress-plugin-deploy/issues/5, I would like a workflow where I could tag a pre-release, run the build (including zip file), but _not_ deploy to the svn.

The intent is to have a final round of testing with the build artifact before an actual release.

It looks like this would involve rewriting the `.distignore` workflow to run more like the `.gitattrib

[2020-08-28 15:34] maketheboat opened #51 "Deploying simple plugin - no build process - on GH repo new release fails"
**Describe the bug**
We've had 10 go at this, and we're getting a fail each time - reviewing the fail message helped us identify a few issues, such as missing package.json and lockfile ( which really are not required for this type of simple plugin, but we added and it helped ) - also complained when we went with version numbers like 1.2.3.4 - 1.2.3 worked ok..

We have a number of outdated plugins

[2020-08-28 15:43] maketheboat commented on #51
Ok! I see the obvious error, we overlooked the settings in the yml file, where we could define, or remove the build steps!

Worked perfectly, thanks!

[2020-08-28 15:43] #51 closed, assigned to nobody

[2020-09-04 03:09] the-csaba opened #52 "No zip file created"
**Describe the bug**
No zip file created with `generate-zip: true` setting.

**Steps to Reproduce**
1. Configure an action with a subsequent action that awaits for the generated artifacts
2. Let Github run the action
3. Asset action fial with `##[error]Not Found`

**Expected behavior**
The asset action can grab access to the generated zip file.

**Additional context**
I only tested with a simple p

[2020-09-18 15:02] marcospassos commented on #16
Same issue here.

[2020-09-19 00:39] luizkim opened #54 "Help With composer"
The project I use needs to send the vendor folder that is generated by the composer to Wordpress's SVN.

I run the composer install according to your read.me, but apparently it does this before creating the SVN folder and therefore the files are not uploaded.

Here is the link to my configuration file:
https://github.com/Frete-Click/WooCommerce/blob/master/.github/workflows/wordpress-svn-deploy.ym

[2020-09-19 01:22] Preciousomonze commented on #54
@luizkim
I am seeing your vendor folder being added
👇🏼
![Screenshot 2020-09-19 at 02 21 35](https://user-images.githubusercontent.com/15174834/93655986-f4213000-fa1e-11ea-893f-219864266c03.png)

[2020-09-19 16:45] luizkim commented on #54
This is another process where you try to lower the vendor, but it did not go. I had to add the vendor folder inside the project on GITHUB (which is not recommended)

[2020-09-19 16:48] Preciousomonze commented on #54
From what I am seeing, you do not have a .wordpress-org folder
And .distignore folder
Maybe that might be the issue.😅

[2020-09-19 17:13] luizkim commented on #54
You did not understand.

I uploaded the files to GITHUB precisely because today the action does not do what I need.

It needs to go up to wordpress, but it cannot be in the GITHUB repository (today it is in the repository because I have no alternative).

[2020-09-27 06:46] dinhtungdu commented on #52
@om4csaba Can you share the workflow file that you used `actions/upload-release-asset@v1`?

[2020-09-29 00:53] the-csaba commented on #52
@dinhtungdu This was that: https://github.com/OM4/weatherzone/blob/7198cce5cda7ff8c34ec17d9ae55873f169e5f1b/.github/workflows/deploy.yml

<details>
  <summary>Content copied here:</summary>

[code]
</details>

[2020-10-03 04:45] dinhtungdu commented on #52
@om4csaba Why do you use `PLUGINS_GITHUB_TOKEN` but not `GITHUB_TOKEN`? Is `PLUGINS_GITHUB_TOKEN` a personal access token?

Btw, I can't reproduce your issue. I forked your repo and make a test release and the zip file is created and uploaded to release without a problem. Note that I use `GITHUB_TOKEN` and a modified version of this action (stripped out the svn commit parts).

[2020-10-21 03:10] the-csaba commented on #52
The `GITHUB_TOKEN` was taken for other application, and yes the `PLUGINS_GITHUB_TOKEN` is a personal access token. I will rename back to  `GITHUB_TOKEN` and try again. Thanks!

[2020-10-22 17:45] Lewiscowles1986 opened #57 "Repo with no images gets SVN error"
**Describe the bug**

[code]

**Steps to Reproduce**

1. Use this action with a github repo without images
2. Observe the error message in action logs

**Expected behavior**

Only apply checks if such files exist

**Additional context**

I do not know if this is why SVN failed, or if I have done something else silly, but noticing it was enough to distract me.

[2020-10-22 17:46] jeffpaul commented on #57
@Lewiscowles1986 do you have images on WP.org SVN that aren't mirrored in your GitHub repo?

[2020-10-22 17:47] helen commented on #57
They're warnings from #40, I noticed them but haven't done anything about it. Probably a matter of suppression or doing an actual find + targeted propset.

[2020-10-22 18:21] Lewiscowles1986 commented on #57
Oh I have a fix in https://github.com/10up/action-wordpress-plugin-deploy/pull/56 now. I could break it out to standalone PR

[2020-10-22 18:22] Lewiscowles1986 commented on #57
@jeffpaul I do not in this case (where I am seeing this happen)

[2020-10-22 20:51] Lewiscowles1986 opened #58 "Unexpected behaviour with files not tracked by Git"
Thank you for writing this cool GitHub action. I've been putting off seeing how it works until now, but I feel I now have a fairly good idea of it, along with some ways to use this to do something that was manual for me until this point 🏆 to you all.

**Describe the bug**

When generating or adding files to the filesystem in a github action, the files will not be deployed via SVN unless they are c

[2020-11-26 09:09] ocean90 opened #60 "Add output parameters for plugin ZIP path and name"
**Is your enhancement related to a problem? Please describe.**
When the repository name doesn't match the plugin's slug you can set the `SLUG` env variable. This one is also used for plugin ZIP if `generate-zip` is set. This means you can't use the `asset_path` and `asset_name` values as shown in the readme example.

**Describe the solution you'd like**
I'd like to have the action returning the pa

[2020-11-28 12:15] dingo-d commented on #54
Hi!

The same thing happens to me, not sure what I'm doing wrong

https://github.com/dingo-d/woo-solo-api/blob/develop/.github/workflows/deploy.yaml

The `php-actions/composer@v4` action should install the packages that are needed for prod release, but when I use it

[code]

I don't get the vendor file inside my tag on wordpress.org. I'm using autoloading so I need it there.

[2021-01-02 22:42] sanbec opened #61 "Error in the Build phase"
**Describe your question**
I
I'm trying with the yml «Deploy on publishing a new release and attach a ZIP file to the release» but i get this error at Build phase: Can you help me? Thanks!

  npm install
  npm run build
  shell: /bin/bash -e {0}
npm WARN saveError ENOENT: no such file or directory, open '/home/runner/work/manage-admin-columns/manage-admin-columns/package.json'
npm notice created a

[2021-01-02 22:46] helen commented on #61
I'm assuming this is for https://github.com/sanbec/manage-admin-columns (please link next time). It looks like there is no build process, so it's telling you that there is no package.json in which to find a build command. You should remove this step:

[code]

[2021-01-02 23:46] sanbec commented on #61
Thank you very much, that was the problem. The truth is that I do not understand what could be built, but that is another matter.

[2021-01-02 23:46] #61 closed, assigned to nobody

[2021-01-14 09:43] marijnbent opened #62 "Specify scope for GITHUB_TOKEN"
**Is your enhancement related to a problem? Please describe.**
To improve the docs, it would be nice which scopes the token is required to have

**Describe the solution you'd like**
A list of scopes required for the personal access token.

**Context**
Available options:
<img width="769" alt="Screenshot 2021-01-14 at 10 43 32" src="https://user-images.githubusercontent.com/11903095/104573618-615373

[2021-01-18 10:33] marijnbent commented on #62
When trying to create a GITHUB_TOKEN secret, I get the message this name is not allowed. Is it correct that you should not set this value @helen?

[2021-01-18 17:09] jeffpaul commented on #62
@marijnbent its been a bit since I've had to set this up from scratch, but I don't believe you need to create a Personal Access Token and GITHUB_TOKEN doesn't need to be set up / configured.  As long as you've configured:
- build steps for your plugin
- SVN password + username as org/repo secrets
- SLUG param if yours is different than the repo name
- ASSETS_DIR if yours aren't in `.wordpress-org`

[2021-01-21 07:15] marijnbent commented on #62
Thanks for your reply Jeff! I tried to run 'Upload release asset' on an 'add tag' action. This combination doesn't seem to work (probably because no release exists?). The deploy on a published release works perfectly, without the need to create a GitHub token.

[2021-01-25 19:39] jeffpaul commented on #62
@marijnbent note that I proposed an update to our docs in #63, let me know if that seems to help better call out requirements related to what you were trying to do... thanks!

[2021-01-26 09:49] marijnbent commented on #62
Perfect Jeff! Congrats on the whitehouse.gov site btw 🤓

[2021-01-26 09:49] #62 closed, assigned to jeffpaul

[2021-01-28 00:21] nextgenthemes commented on #54
Was anyone able to solve this? Is it just the `/vendor` dir or anything you create after the checkout?

I am running into this shit mysefl now. `/vendor` is in `.gitignore` as it's supposed to be but NOT in `.gitattributes` with `export-ignore`. Or that other exclusion file this thing uses. Thankfully I prepared my code for this to happen as I saw this b4 I tried myself. Intuition I guess.

The ma

[2021-01-28 05:52] helen commented on #54
@nextgenthemes I don't really know what you're hoping for with that kind of comment. I, along with my team, have been extremely busy for the last 6 months with major back-to-back projects and some support requests have slipped through the cracks. This one in particular is [specifically addressed in the README](https://github.com/10up/action-wordpress-plugin-deploy#excluding-files-from-deployment).

[2021-01-28 05:52] #54 closed, assigned to nobody

[2021-01-28 06:00] helen commented on #49
Apologies for having neglected this repo for a bit - that is interesting! I don't really have any good ideas here, it feels slightly dangerous to just run commands semi-arbitrarily from a text file or something like that but I'm not sure how else you'd inject into the middle of the action. I wonder why it works locally for you? I would have thought a propset issue would happen either way, would be

[2021-01-28 06:02] helen commented on #58
Hello! You'll want to include a `.distignore` file if you are including anything built or otherwise created but not committed. It's mentioned in the section above what you've added in your PR, although it does not explicitly mention uncommitted files.

[2021-01-28 06:02] #58 closed, assigned to nobody

[2021-01-28 16:39] Lewiscowles1986 commented on #58
Could the wording of the `.distignore` section (it's mentioned in a few places), be more explicit?

I Checked the shell script and can see what you are saying, but the text doesn't make the behavior any more clear. I was still surprised, and am, equally as surprised as it seems a long way to go to avoid having a `build` folder that is deployed verbatim.

[2021-01-28 20:29] helen commented on #58
@Lewiscowles1986 Not sure what you mean by "a long way to go" - are you talking about including uncommitted files or are you talking about deploying from a separate directory? For the latter, that's also something there's interest in, see #30. For the former, I don't see that `.distignore` is significantly more work, again we use this in our own plugins.

[2021-01-29 00:59] nextgenthemes commented on #54
@helen Sorry I made a mistake not reading the readme again, thinking this is not possible **because this issue was:**

1. Still open.
1. Not solved by anyone here.

And what I hoped is exactly what happened ;) Seems contrary to your point but ~4 people had this issue and did not seem to come to the conclusion themselves and no answer from you. Saw anther open issue with someone not reading or able

[2021-01-29 01:05] helen commented on #54
"I don't know what .distignore is so I want git archive to do something it explicitly is not designed to do instead" is not a good reason to be disrespectful or engage in development practices that may present difficulties later. If you have a build process involving uncommitted files, you should use a .distignore file.

[2021-01-30 01:54] jasan-s opened #64 "Using WP boilerplate , unclear how to use this action with it"
I'm currently using https://github.com/DevinVinson/WordPress-Plugin-Boilerplate to build my wordpress plugin. I want to use this action to deploy to wordpress.org . However I'm unclear how exactly I can do that since there is no build scripts etc. Just the filter with all plugin files. Any guide to integrate this action with the above mentioned boilerplate would be greatly appreciated.

If there i

[2021-01-31 16:08] dalenguyen opened #65 "Version is not updated when running Github Action"
**Describe the bug**

When running Github Action, it keeps getting my old version of the plugin which returns an error when deploying to WordPress Plugin Directory

**Steps to Reproduce**

This is the failed actions: https://github.com/dalenguyen/firebase-wordpress-plugin/runs/1801687516?check_suite_focus=true

I tried with a different version of the tag, but it keeps the old one.

![image](https:

[2021-02-01 14:56] jeffpaul commented on #65
@dalenguyen the action is likely stripping the preceding `v` from `v0.8.0`, so you'll need to try `0.8.1` or something similar to see things work as expected.

[2021-02-01 14:58] jeffpaul commented on #65
Also note that the `VERSION` variable is really [only recommended for testing purposes](https://github.com/10up/action-wordpress-plugin-deploy#optional-environment-variables):

[2021-02-09 20:54] jeffpaul commented on #49
@padams are you able to help triage this a bit further so we can work on an appropriate fix?

[2021-02-09 21:04] jeffpaul commented on #64
@jasan-s if your plugin doesn't have a build process, then you can remove the build step from the action.  E.g., this code from our sample:
[code]
If you run into issues getting this to work, then providing a link to your repo/failing action will help us better see what's going on... thanks!

[2021-02-09 21:05] jeffpaul commented on #65
@dalenguyen is there anything else we can help you with on this or can we close the issue?

[2021-02-09 23:41] dalenguyen commented on #65
Yes, I can close it. Thanks for your help.

[2021-02-09 23:41] #65 closed, assigned to jeffpaul

[2021-03-22 22:01] jeffpaul commented on #64
@jasan-s did you have any further questions on the WP Deploy action or can we close out this issue?

[2021-03-31 17:57] dcooney opened #66 "Use Without SVN Deployment"
**Describe your question**
👋🏻  Is it possible to use this action without an SVN deployment? The `.distignore`, `npm build` and `.zip` attachment to a release is perfect for some non .org plugins of mine, but I don't need the SVN aspect.

Is that possible?

[2021-03-31 19:34] helen commented on #66
Hello! For a workflow like that you should be able to run most of those steps directly as commands on the runner. This Action is specifically to ease over the SVN barrier; while the ZIP file is generated in the Action due to the way it copies into other directories you can see the actual attachment actually happens with a different Action in the example workflow file, and `npm build` is itself a d

[2021-03-31 19:34] #66 closed, assigned to nobody

[2021-04-05 19:32] vyskoczilova opened #67 "No zip attached to the release"
**Describe the bug**

Deployed with action with "generate-zip" parameter, however, ended with "not found" issue:
![image](https://user-images.githubusercontent.com/3611726/113617002-252d1f00-9656-11eb-816d-53d8835b2e2f.png) used [this workflow](https://github.com/vyskoczilova/kybernaut-ic-dic/blob/master/.github/workflows/deploy.yml). Maybe related to SLUG used?

**Expected behavior**

Attach zip

[2021-04-14 12:49] dcooney commented on #66
Thank you @helen, appreciate the detailed response.

[2021-04-21 01:56] jeffpaul commented on #67
@helen direct link to failed `Upload release asset` is here: https://github.com/vyskoczilova/kybernaut-ic-dic/runs/2272301755?check_suite_focus=true.  Given that the GH repo is `kybernaut-ic-dic` but the SVN repo and `SLUG` environment variable is set to `woolab-ic-dic`, I wonder if that's the cause of failure here as @vyskoczilova hints at or something else?

[2021-04-24 10:34] dinhtungdu commented on #67
Hi @vyskoczilova, because you're using a custom slug, you need to use that slug in the upload release assets part

[code]

[2021-04-25 19:42] vyskoczilova commented on #67
@dinhtungdu yeah, that makes sense. I'm pretty new with GitHub actions and haven't noticed that it works with different actions than the previous one so the slug is not passed.

[2021-04-26 10:30] dinhtungdu commented on #67
Closing this for now. Feel free to reopen/comment if need.

[2021-04-26 10:30] #67 closed, assigned to helen

[2021-05-23 07:59] thejaydip commented on #33
I had the same issue. Any solution ?
![issue](https://user-images.githubusercontent.com/46511743/119252613-e08c2180-bbca-11eb-8839-6b498cf89887.png)

[2021-05-24 19:42] jeffpaul commented on #33
@thejaydip have you checked the username/password secrets in your GitHub repo, checked that the user is a committer on the plugin on WP.org, and checked the capitalization of the username as referenced above?

[2021-06-08 13:43] sztwiorok opened #68 "Do you push docker image to any public registry?"
I want to test this action on my PC, is there any way to pull this image?

I have tried to pull it from the GitHub registry:
`docker pull docker.pkg.github.com/10up/action-wordpress-plugin-deploy:1.5.0`
but it looks like I don't have permission
`Error response from daemon: repository docker.pkg.github.com/10up/action-wordpress-plugin-deploy not found`

Can you send me a link to DockerHub with this

[2021-06-10 01:40] dinhtungdu commented on #68
@sztwiorok we don't push the image of this action to Docker Hub, so I can't send you a link. But you can clone/download this action and build the image yourself, it uses `debian:stable-slim` so it won't take long.

[2021-06-10 11:54] AlecRust opened #70 "Delete old tags from SVN"
**Is your enhancement related to a problem? Please describe.**

I have pushed many tags to SVN, but the [recommendation](https://developer.wordpress.org/plugins/wordpress-org/how-to-use-subversion/#delete-old-versions) is to delete old tags.

People may want to limit the number of tags in the SVN repository to say the last 5 releases, as making releases older than this available to download may ca

[2021-06-10 14:19] jeffpaul commented on #70
@AlecRust the Plugin Handbook does not seem to make that a recommendation so much as point out its an option that does not have any listed positive effect:

The easiest path to handling this, if its desired, is probably directly in SVN itself.  For example: https://tortoisesvn.net/docs/release/TortoiseSVN_en/tsvn-dug-rename.html.

[2021-06-10 15:36] AlecRust commented on #70
[This](https://developer.wordpress.org/plugins/wordpress-org/plugin-developer-faq/#how-many-old-releases-should-i-keep-in-svn) is probably a better reference:

WordPress also [recommends](https://developer.wordpress.org/plugins/wordpress-org/plugin-developer-faq/#how-many-versions-should-i-keep-in-my-changelog) only including the most recent couple major versions in your `readme.txt` changelog:

S

[2021-06-10 16:05] jeffpaul commented on #70
@AlecRust I'm not immediately sure how this action would handle this.  What would be your expected workflow?

[2021-06-10 17:21] AlecRust commented on #70
In order to comply with the changelog recommendations I'm restricting my changelog to only include the range between the two most recent major versions.

I suppose since this action performs the interaction with the SVN repository I was thinking it could have a `keep-last-releases` option where you specified the number of tags to keep in the SVN repository

Or, a `keep-tags-since` option where you

[2021-06-11 22:12] helen commented on #70
Hello! I'd like to keep this action tightly focused on deployment; what you're describing is something I would frame as more of a clean up or maintenance type of task. Whether doing this is necessary or not, I'll refrain from opining, but IMO best practice as far as CI goes would be to run that as a separate step in your workflow so it is separated from the deployment (e.g. if deployment otherwise

[2021-06-11 22:12] #70 closed, assigned to nobody

[2021-06-15 03:43] madurapa commented on #60
It would be nice to have this enhancement +1

[2021-06-22 11:28] sztwiorok commented on #68
thanks for your help

[2021-06-22 11:59] sztwiorok commented on #68
can you set this image as public?
https://docs.github.com/en/packages/learn-github-packages/configuring-a-packages-access-control-and-visibility#configuring-visibility-of-container-images-for-an-organization

[2021-06-23 23:59] dinhtungdu commented on #68
@sztwiorok this is the action repo so there isn't any image built for this repository. Images are built and stored in repositories using this action.

Also, I checked the packages tab of 10up, all packages that belong to public repositories are public already.

[2021-07-02 07:07] MichaelFBA commented on #36
Can we simply use push on master branch which creates a tag during the previous step?
[code]

[2021-07-02 10:56] dinhtungdu commented on #36
@MichaelFBA Did you push your tag to GitHub? Can you share the config you're using?

The trigger condition should be on the new tag or release because the action needs to extract the version from your new tag/release.

[2021-07-05 09:35] MichaelFBA commented on #36
I had thought running `npm version patch` would publish a new tag before the svn upload is done
https://docs.npmjs.com/cli/v7/commands/npm-version#description

[2021-07-06 02:15] dinhtungdu commented on #36
It does create a new tag, but you had to push it to remote using `git push --tags`.

[2021-07-08 08:25] shivapoudel opened #71 "SVN commit failed: Directory out of date"
@helen @jeffpaul We receive SVN commit failed: Directory out of date issue recently. You can see this failed action https://github.com/themegrill/suffice-toolkit/runs/3016789941?check_suite_focus=true#step:5:269
![image](https://user-images.githubusercontent.com/3774827/124888469-db0d5e00-dff5-11eb-8964-7daafe0a6db5.png)

[2021-07-08 14:19] jeffpaul commented on #71
@shivapoudel you'll want to update this line from `master` to `stable`: https://github.com/themegrill/suffice-toolkit/blob/8849a02c452fff95cfaa1e14bb267f24c3da0a55/.github/workflows/main.yml#L17

It looks like you have a lot of attempts at tagging 1.0.5: https://github.com/themegrill/suffice-toolkit/actions/workflows/main.yml?query=branch%3A1.0.5

Of those attempts I do see one success: https://gi

[2021-07-08 15:29] shivapoudel commented on #71
This fixes the issue. Thanks @jeffpaul :)

[2021-07-08 15:29] #71 closed, assigned to jeffpaul

[2021-07-09 00:58] shivapoudel commented on #60
Any help on raising PR for this enhancement is appreciated :)

[2021-07-09 01:14] shivapoudel commented on #38
Completely related to #16 so will be tracking progress there. We build a build in a custom directory so all the src files of ES6 are not included and wanted to push only the `build/plugin-slug`.

@helen This way we will not get merge conflict of POT files as well as scripts files as we will not be shipping development files overall. In my opinion this direction will benefit latest plugin developme

[2021-07-09 01:14] #38 closed, assigned to nobody

[2021-08-15 20:02] spacedmonkey opened #73 "Build failing with docker error."
**Describe the bug**
In my [repo](https://github.com/spacedmonkey/wp-rest-blocks/), I using this action.

I am seeing [builds](https://github.com/spacedmonkey/wp-rest-blocks/runs/3334672627?check_suite_focus=true#step:2:23) failing with the following error

  E: The repository 'http://security.debian.org/debian-security stable/updates Release' does not have a Release file.
  The command '/bin/sh -

[2021-08-16 04:55] kurudrive commented on #73
I am faithing with this probrem too.

[2021-08-16 14:37] Stiofan commented on #73
Getting this same error also.

[2021-08-16 16:08] mrwweb commented on #73
Getting a similar error just now for a [very simple deployment](https://github.com/mrwweb/mrw-simplified-editor-wordpress/blob/release/.github/workflows/main.yml) (that doesn't even need a build):

[2021-08-16 16:18] helen commented on #73
Looks like some kind of container setup issue where something is not available in a registry, will try to get this figured out ASAP.

Edit: Documenting full error here for searchability:

[code]

[2021-08-16 18:08] weaver-sharethis commented on #73
Experienced the same thing this morning, so I forked temporarily and based the repo on `ubuntu:18.04`:

[code]

Until things are sorted with the debian image, this works just fine.

[2021-08-16 18:13] helen commented on #73
Yeah I wonder if it's temporary with the Debian image, really not sure what's going on here besides that I see there's no stable dist on security.debian. If switching to Ubuntu I feel like I should change this action to run directly on a runner and not spin up a container, as the ubuntu-latest runner comes pre-installed with everything I need... hopefully won't be a bad transition, will give it a

[2021-08-16 19:43] tobeyadr commented on #73
I just tried this and received the same issue... any thoughts?

[2021-08-16 19:45] helen commented on #73
@tobeyadr What kind of additional thoughts are you looking for?

[2021-08-16 19:50] tobeyadr commented on #73
@helen sorry, I'll be more specific. So I forked the action and made the change suggested by @weaver-sharethis. Setup my workflow to reference my forked repo however I'm still receiving the error you mentioned. I'm wondering if I set it up incorrectly or the ubuntu version is also affected by the issue with Debian.

Trying to get a release out, should I just do it manually for now?

[2021-08-16 19:52] helen commented on #73
@tobeyadr Looks like you need to reference the develop branch in yours for now, I am investigating running this as a composite action before just wholesale switching to Ubuntu, as I've always felt that spinning up an entire container for this is overly slow and expensive anyway.

[2021-08-16 19:57] spacedmonkey commented on #73
Part of the issue here, the docker container is rebuilt on every build. Meaning, if there are issues upstream, builds will fail. A workaround for the future, is to build once and cache the built image somewhere. See https://github.com/10up/action-wordpress-plugin-deploy/issues/68 for more context.

[2021-08-16 19:59] tobeyadr commented on #73
@helen DUH! 🤦‍♂️ Works now, many thanks :)

[2021-08-16 20:08] helen commented on #73
Working on this in #74 for now. The readme/asset updater will need the same treatment if this works.

[2021-08-16 22:04] helen commented on #73
Just an update that this is actually working and it is _fast_, there is just an issue with the ZIP generation that I think is the root cause of #60 so I probably need to fix that as well while I'm in here.

[2021-08-16 23:02] pablo-sg-pacheco commented on #73
Same problem here

[2021-08-16 23:03] helen commented on #73
@pablo-sg-pacheco Are you in need of assistance? As documented above I am working on a fix, trying to ensure I don't break the ZIP generation.

[2021-08-16 23:07] pablo-sg-pacheco commented on #73
Hi @helen ,
Yes, I'd like some help. How can I make it work before you complete the fix?
I'm sorry. I don't want to be a pain in the ass :)

[2021-08-16 23:08] helen commented on #73
@pablo-sg-pacheco You can follow what others have done above or give me a couple hours to finish up and QA everything for release.

[2021-08-16 23:15] pablo-sg-pacheco commented on #73
@helen , I still don't know what to do. But don't worry, take your time. I'll be waiting :)

[2021-08-16 23:16] helen commented on #60
Fixing this in #74 by adding a `zip-path` output param, not adding a name one for the moment because it can be customized to your heart's desire in the workflow file, though I will take the argument that most people are copy-pasting so the documentation may benefit from a specific example.

[2021-08-16 23:17] #60 closed, assigned to nobody

[2021-08-16 23:17] #73 closed, assigned to nobody

[2021-08-16 23:40] helen commented on #73
I've updated `stable` and tagged a `2.0.0`, could you all let me know if this works as expected? I tested various setups to attempt to catch any backcompat issues with existing workflow files but am a little worried there are variables I haven't accounted for.

[2021-08-16 23:47] pablo-sg-pacheco commented on #73
It works for me @helen ,
Thanks!!

[2021-08-17 01:01] roelmagdaleno commented on #73
@helen Works for me too! Thank you :)

[2021-08-17 01:55] helen commented on #68
This doesn't spin up its own container anymore, for local testing there's https://github.com/nektos/act (also in reality it's "just" a Bash script).

[2021-08-17 01:55] #68 closed, assigned to dinhtungdu

[2021-08-17 02:02] helen commented on #52
Apologies for the very belated response - I've updated the Action which had some logic I am surprised was previously working, and it also now emits a `zip-path` output param which you can then use in that step of the workflow instead of `asset_path: ${{github.workspace}}/${{ github.event.repository.name }}.zip`. See the readme for an example.

You also should not need to actually define `GITHUB_TO

[2021-08-17 02:02] #52 closed, assigned to nobody

[2021-08-17 02:11] helen commented on #73
For future reference and anybody else experiencing this and desperately Googling, it appears it is because there was a new release of Debian and [the security repository moves](https://twitter.com/henrich/status/1427449488331874310), hence the 404. I cannot say I understand why this means `debian:stable-slim` should cease to work as it appears to be an official image to me and I almost certainly l

[2021-08-17 02:26] helen commented on #50
Hi there - is this still an issue for you? It sounds like you want to run a workflow without this action at all, in which case there isn't anything to do here in this repository. Things like the build and ZIP generation can all be done directly as commands on the runner in a workflow, this action just happens to handle the ZIP part as a part of the process because of the SVN component, but if you'

[2021-08-17 02:26] #50 closed, assigned to nobody

[2021-08-17 02:37] helen commented on #64
I think this is realistically a duplicate of #16, based on the boilerplate structure.

[2021-08-17 02:37] #64 closed, assigned to jeffpaul

[2021-08-17 15:02] lipemat commented on #73
I wanted to say thank you for jumping on this and developing a solution so quickly.

This action has streamlined a process and opened up new possibilities for development structure and workflow. When something which adds this much value has an issue and is then resolved in a day, it truly shows the commitment to community. I am grateful. 🙇

[2021-08-17 19:25] weaver-sharethis commented on #73
@helen Haven't had a chance to test this yet, but also wanted to express gratitude for your quick turnaround time on it. Super helpful. 🚀

[2021-08-20 21:18] doekenorg opened #75 "Mime type of .gif asset files are not updated"
**Describe the bug**
Screenshots can be `.gif` files. These are useful for showing the interaction the user can expect. The mime-type of `.gif` files is not updated. So the file will be downloaded, instead of shown in the browser.

**Steps to Reproduce**
1. Create a repo with an assets folder that contains a `.gif` file
2. Run the action
3. Click the screenshot in the WordPress plugin page

**Expe

[2021-08-20 21:32] jeffpaul commented on #75
Note that WP.org only states support for PNG or JPG filetypes for screenshots: https://developer.wordpress.org/plugins/wordpress-org/plugin-assets/#filenames-3.  Also, they do not state support for GIF for any plugin asset type for that matter.

[2021-08-20 21:40] doekenorg commented on #75
Sorry,  working in my phone now and accidentally clicked the closing button.

It is pretty tucked away, but you can find a reference to this in the readme example. https://developer.wordpress.org/plugins/wordpress-org/how-your-readme-txt-works/#example-readme

This is how I found it was possible.

[2021-09-10 06:22] KevinBatdorf commented on #50
I wanted it to ideally not trigger on pre-release (which is a checkbox that shows when making a release). All good though, this issue was opened over a year ago so I just stopped using the pre-release feature

[2021-09-10 12:21] helen commented on #50
I see, to get it to not run you'd want to change the trigger in your workflow file, I think it's instead of `published` you use `released`, and then a separate one for the `prereleased` event that runs build and creates a ZIP as the workflow steps. I hope that makes sense - you're looking for things that are managed by the GitHub part, not this particular action.

[2021-09-10 12:44] KevinBatdorf commented on #50
Thanks for following up. Just looked it up in the docs and it looks like there are "activity types" that you would target on the release event. That makes sense.

https://docs.github.com/en/actions/reference/events-that-trigger-workflows#release

Possibly going to be adding this workflow to a few projects in the coming weeks so I'll test it out and see if there are any issues. Thanks

[2021-09-11 20:35] shivapoudel opened #77 "Generated zip won't have plugin-slug folder inside"
**Describe the bug**
Seems like generated zip file while downloading won't have `plugin-slug` folder.

**Steps to Reproduce**

1. Implement github action with `generate-zip` enabled.
2. After all the process is complete, Open zip file!
4. See error, directly all files from trunk is located!

**Expected behavior**
ZIP file should have `plugin-slug`.

**Additional context**

[2021-09-14 18:48] helen commented on #77
#72

[2021-10-19 20:32] blakewilson opened #79 "Support for Monorepos"
**Is your enhancement related to a problem? Please describe.**
Deploying WordPress plugins to WordPress.org via a monorepo.

**Describe the solution you'd like**
Instead of deploying the entire branch, it would be nice if a user could alternatively specify a path to the directory which should be synced to WordPress.org. Currently, the action uses the [`GITHUB_WORKSPACE`](https://docs.github.com/en

[2021-10-19 22:21] blakewilson commented on #79
Something like what is mentioned in #16 could resolve this perfectly. I think this is an important consideration with the increasing popularity of monorepos.

[2021-11-25 18:39] GaryJones commented on #5
That's not the case according to https://docs.github.com/en/actions/learn-github-actions/events-that-trigger-workflows#release (my emphasis):

[2021-11-30 21:04] jeffpaul commented on #5
@GaryJones nice catch!  Adding a task here for us to document that:
- [ ] add note to readme about different release types to list based on how a specific plugin handles releases (including stable and pre-releases)

[2021-12-21 20:36] ssnepenthe commented on #16
@helen I know this is an old issue but wanted to chime in with another scenario to consider.

I am looking at using [PHP-Scoper](https://github.com/humbug/php-scoper) so I can include third party packages without having to worry about conflicts.

As far as I can tell there doesn't seem to be much consensus on the best way to use PHP-Scoper in a WordPress plugin - I have seen wildly different appro

[2021-12-26 14:42] tkc49 opened #80 ".wordpress-org, .github, and .gitattributes have been uploaded to SVN."
**Describe the bug**
.wordpress-org, .github, and .gitattributes have been uploaded to SVN.

* Setting .gitattributes file.
https://github.com/tkc49/kintone-form/blob/master/.gitattributes

* Target repository.
https://wordpress.org/plugins/kintone-form/

[2021-12-26 14:48] tkc49 commented on #80
Sorry...
I noticed that the .distignore file has been superseded.

[2021-12-26 14:48] #80 closed, assigned to nobody

[2022-01-05 20:23] jeffpaul commented on #23
Closing as this work is complete.

[2022-01-05 20:23] #23 closed

[2022-01-05 20:33] jeffpaul commented on #16
@dinhtungdu @iamdharmesh its worth chatting about the separate approaches for this in #30 and #56, to see which approach might be most optimal (or if a third option might be better).

[2022-01-05 20:35] jeffpaul commented on #57
@Lewiscowles1986 would be more ideal to break out those changes from #56 into a separate PR so we can track these issues/PRs in their own right (especially since #56 is targeting something else as well).

[2022-01-05 20:36] jeffpaul commented on #49
Closing this due to no response from @padams, but please feel free to re-open if additional information can be shared... thanks!

[2022-01-05 20:36] #49 closed, assigned to nobody

[2022-01-05 20:43] jeffpaul commented on #18
@Screenfeed per @helen's prior comment, would something like the following work for you?

In tandem with that, where are you viewing these commit messages that would make prepending/appending the plugin name helpful?

[2022-01-06 18:49] KevinBatdorf opened #81 "Docs on ZIP need a refresh"
**Describe the bug**
The docs on generating and attaching a zip appear to not be the latest.

https://github.com/10up/action-wordpress-plugin-deploy#deploy-on-publishing-a-new-release-and-attach-a-zip-file-to-the-release

I've changed mine from
[code]

[code]

Which I gleaned from https://github.com/WordPress/theme-check/blob/master/.github/workflows/deploy.yml

But won't be able to confirm the ch

[2022-01-06 18:55] KevinBatdorf commented on #81
The error message:

![Screen Shot 2022-01-06 at 1 53 31 PM](https://user-images.githubusercontent.com/1478421/148435769-273f91c1-5f6b-4f86-8ee0-67d214f9264c.png)

Guessing that env variable is undefined now or something like that.

[2022-01-07 02:52] jeffpaul commented on #81
@KevinBatdorf I ran some releases just last month that processed as expected using the `upload-release-asset` action, though it certainly seems a better step to take to update this example to use https://github.com/softprops/action-gh-release instead.  Happy to get a contributed PR through review if someone is able... thanks!

[2022-01-07 13:46] Lewiscowles1986 commented on #57
Apologies for not breaking out sooner @jeffpaul

[2022-01-07 15:43] KevinBatdorf commented on #81
I see the issue.`steps.deploy.outputs.zip-path` requires a step with an id of `deploy` ;-)

[2022-01-07 15:50] #75 closed, assigned to doekenorg

[2022-01-07 22:20] jeffpaul commented on #81
@KevinBatdorf so ok to close this issue or is there a docs update to make that more clear for folks?

[2022-01-07 23:51] KevinBatdorf commented on #81
Well it's up to you. It's still mentioning that archived repo. Can close it though if you prefer. I'll report back if there's ever an issue with our deployment zip attachment or if we end up switching to the newer one.

[2022-01-17 14:24] Screenfeed commented on #18
Hello @jeffpaul.

Sure, it would also work.
These messages can be viewed from a repository's plugin page > Development tab > [development log](https://plugins.trac.wordpress.org/log/imagify/).

[2022-01-17 18:23] jeffpaul commented on #81
Yeah for now it seems things are working as expected, but if that changes then we can look into replacing the archived repo reference with something else.

[2022-01-17 18:23] #81 closed, assigned to nobody

[2022-01-20 21:33] jeffpaul commented on #18
@Screenfeed right so if you're browsing to that development log don't you already know the plugin you're looking at?  What's the benefit of the plugin name in the commit message then?

[2022-01-24 10:16] Screenfeed commented on #18
@jeffpaul You're right, this may not be the place I noticed the issue at the time, as I didn't mentioned this information in my first message 🙄
However, I found another place: the [profile page](https://profiles.wordpress.org/greglone/). The second entry says "Update to version 4.0.0 from GitHub" but we don't know which plugin has been updated to 4.0.0.

[2022-01-26 12:48] dinhtungdu commented on #16
@jeffpaul between #30 and #56, I'm leaning towards the latter one. But I have an issue with both PRs: if the plugin files are built into a custom folder, then we don't need the ignore files because all files in that custom folder are meant to be deployed.

IMO, we should treat the custom build folder as a separate scenario instead of the way those two PRs are doing. Because of that, I'm not really

[2022-01-28 14:33] #57 closed, assigned to Lewiscowles1986

[2022-01-29 11:39] ChrisBAshton commented on #35
Thanks @Luc45. I used your `rm` solution. For what it's worth, the `.distignore` approach didn't work for me - this commit fixed everything in the end!

https://github.com/ChrisBAshton/secretary/commit/f6c3548093c7530708d1f6aab4e0a66e4f24cc64

[2022-02-15 23:10] #16 closed

[2022-02-21 13:33] ndeet opened #84 "Github workflow/action based files in SVN"
**Describe the bug**
The Github workflow run produces three new files that end up in the SVN. Not sure if they are new or have been there for some time and this is known but I get these unrelated files in the SVN:
 - `DOCKER_ENV`
 - `docker_tag`
 - `output.log`

Not sure if it matters but I use a composer based deployment step that runs `composer install` that could cause this?

**Steps to Reprodu

[2022-02-22 04:01] jeffpaul commented on #84
@ndeet can you please link to your repo / latest action run to better triage?

[2022-02-22 10:41] ndeet commented on #84
Hi @jeffpaul thanks for the quick reply.

The GH action run:
https://github.com/btcpayserver/woocommerce-greenfield-plugin/runs/5274673242?check_suite_focus=true

The SVN Repo:
https://plugins.trac.wordpress.org/browser/btcpay-greenfield-for-woocommerce/trunk

Thank you.

[2022-02-23 04:39] jeffpaul commented on #84
@ndeet I'm not seeing an immediate cause here, but adding those files to your `.distignore` should remove them from SVN and stop from having them sent in the future.  I'll keep this open in case others can jump in and help triage why those files are introduced and if there's a way to protect for that within the action itself.

[2022-02-23 05:04] KevinBatdorf opened #85 "Fail on tag mismatch"
**Is your enhancement related to a problem? Please describe.**

If you mistakenly forget to update the stable tag, the deploy will happen but .org won't pick up the new version. This is never expected.

**Describe the solution you'd like**

The workflow should fail if the tag doesn't match the stable tag

**Describe alternatives you've considered**

I could probably write something in the workflow

[2022-03-19 22:28] nosovk opened #88 "Other files have been modified; changes not deployed"
After creating new tag got an error on deploy.
`Other files have been modified; changes not deployed`
**Describe the bug**
[link to logs](https://github.com/MailCheck-co/mailcheck-wordpress/runs/5613851306?check_suite_focus=true)

It seems that it worked before, but have broken some moment

[2022-03-20 20:56] nosovk commented on #88
[code]
it seems that svn has incorrect state

[2022-04-24 15:25] emtiazzahid commented on #88
Hi, did you found any solution for that?

[2022-04-25 16:21] nosovk commented on #88
nope, have no solution

[2022-04-25 17:45] helen commented on #88
Hi - the logs you linked indicate there were modifications in `trunk/mailcheck-co.php`, meaning in your `master` branch at the time there were changes beyond asset files since the last sync with `trunk` on SVN so the action doesn't run out of an abundance of caution. Not sure where the other errors you pasted happened, so a link to those may help, but perhaps it's resolved itself in the meantime?

[2022-04-28 05:36] nosovk commented on #88
Hm, but if I use only that action to communicate with SVN, how master could be beyond? I even have no SVN client to modify smith avoiding action launch.

[2022-05-12 04:05] faisal-alvi opened #90 "🛑 Other files have been modified; changes not deployed"
**Describe the bug**
The action fails even when only the `readme.txt` file is changed.

Logs:
* https://github.com/10up/publisher-media-kit/runs/6384758988?check_suite_focus=true
* https://github.com/10up/publisher-media-kit/runs/6384736959?check_suite_focus=true

![image](https://user-images.githubusercontent.com/25176325/167989781-f49c8a93-6bce-4f3e-8af6-247e4331e6c0.png)
[image link](https://ww

[2022-05-12 04:08] KevinBatdorf commented on #90
Only looking at the image you maybe need to run your build script in the workflow?

[2022-05-12 05:35] faisal-alvi commented on #90
Yes, already done it and it worked, I was about to post it here and saw your comment! :)

Thanks for the help @iamdharmesh + @KevinBatdorf!

[2022-05-12 05:35] #90 closed, assigned to nobody

[2022-05-17 09:06] dinhtungdu opened #91 "GitHub Actions summary markdown"
**Is your enhancement related to a problem? Please describe.**

GitHub recently released [the markdown support](https://github.blog/2022-05-09-supercharging-github-actions-with-job-summaries/) for the action summary. It'd be nice if this action can leverage that feature to provide useful information on the action Summary.

**Designs**

This example is taken from the GitHub blog above:
![image](htt

[2022-05-23 23:38] thefrosty opened #92 "README Example issue"
In the example steps, `uses` and `run` keys aren't allowed in the same step.

[code]

[2022-05-24 14:39] jeffpaul commented on #92
@thefrosty I think your copy/paste may have shifted the indentation perhaps?  A quick spot check of the example and one of our existing workflows (https://github.com/10up/retro-winamp-block/blob/develop/.github/workflows/wordpress-plugin-deploy.yml) seems to show that things work as expected.  Perhaps I'm not properly understanding, so if there's more details you can share of what's not working I

[2022-05-24 15:28] thefrosty commented on #92
Yeah, for sure odd formatting for YML, but in any case I was modifying my deploy action while adding some tests, and came across this error: https://github.com/thefrosty/custom-login/commit/0c8f9629c9008ed10fc6c52cf8055d9f36cdc79c#annotation_3563650310

[code]

[2022-05-25 02:04] jeffpaul commented on #92
@thefrosty I just checked the examples in https://github.com/10up/action-wordpress-plugin-deploy/blob/develop/README.md and they appear to be correct and are not trying to utilize `uses` and `run` in the same `step`.  That said, I left a couple comments on your linked file with a couple tweaks to consider.

[2022-05-25 15:31] #92 closed, assigned to jeffpaul

[2022-05-29 06:34] richard-muvirimi commented on #85
Actually having it automatically picked from the stable tag in README as an option would be better. I am aware there is another action for updating the readme, but it's not every plugin that one maintains tags for.

[2022-05-29 08:42] richard-muvirimi commented on #84
These files are created by the docker image used for composer setup, you can refer to the issue that explains the use of a docker image [Automatically created docker packages after using this action](https://github.com/php-actions/composer/issues/36)

[2022-05-29 08:48] richard-muvirimi commented on #18
One way to address this is to use the last git commit message as an option, and or alternatively allow the supply of a custom commit message just like the version. Though not in the documentation this can be resolved at run time.

[2022-05-29 18:23] richard-muvirimi opened #95 "Directory out of date error"
**Describe the bug**

I get a directory out of date using the action for some strange reason. I did look into the possible causes and this [Stackover Issue](https://stackoverflow.com/a/3298401/5956589) seems to address the issue.

**Additional context**

This might be an svn related issue refusing to commit files because of a date mismatch. using bash only, I resolved this by just running `svn upd

[2022-06-02 06:49] dinhtungdu commented on #95
In theory, we don't need to run `svn update` but if there are commits from other plugins that chime in, we'll need to sync again before committing.

[2022-06-02 07:43] #95 closed, assigned to richard-muvirimi

[2022-06-02 09:43] richard-muvirimi commented on #88
This is addressed by #96

[2022-06-02 09:47] richard-muvirimi commented on #79
This is addressed by #83

[2022-06-02 18:53] nosovk commented on #88
You mean that it should be fixed now?

[2022-06-07 03:51] richard-muvirimi commented on #88
@nosovk the fix has been merged into the development branch, but not sure when the next release would be.

[2022-06-17 14:49] jmfayard opened #97 "Could you release major version(s) of your GitHub action?"
Bonjour! 🇫🇷

I contribute to [GitHub Actions Kotlin DSL](https://github.com/krzema12/github-actions-kotlin-dsl) which provides an alternative to write GitHub Actions not in YAML but in a type-safe programming language: Kotlin.

To this end we provide type-safe wrappers for currently [72 (and counting) wrapper actions](https://krzema12.github.io/github-actions-kotlin-dsl/supported-actions/). Those

[2022-06-18 07:48] jmfayard commented on #97
Note: in practice this  is done by pushing a tag `v1` to your latest `1.x.y` release

[code]

[2022-06-28 21:26] lucyllewy opened #98 "Assets svn propset commands fail"
**Describe the bug**

The glob of `*.png`, `*.jpg`, `*.gif`, and `*.svg` in the `svn propset svn:mime-type` commands fail due to being quoted. SVN does not support expanding the globs itself, so we need to rely on the shell expanding them. Shell globs are only expanded when the `*` is unquoted, but currently the whole path including the glob is within quotes meaning that we're trying to pass the l

[2022-07-05 03:32] #98 closed, assigned to lucyllewy

[2022-07-10 23:17] johnbillion commented on #45
I use [version-bump-prompt](https://www.npmjs.com/package/version-bump-prompt) for this, with convenience scripts for patch, minor, and major updates: https://github.com/johnbillion/wp-crontrol/blob/649e07dc353ba3f0146e89004ae33742fba216c1/package.json#L16-L20

[2022-07-11 11:48] johnbillion opened #100 "Trigger a failure if not all files are added to SVN"
**Is your enhancement related to a problem? Please describe.**

There were some files missing from the most recent release of one of my plugins on wordpress.org, despite the `.gitignore` and `.gitattributes` configuration being correct. Everything with the build is fine right up to the point where the plugin gets deployed to the plugin directory.

The problem appears to be caused by an existing `s

[2022-07-14 14:40] vikrampm1 opened #101 "Bump WordPress and PHP minimums"
Bump WP & PHP Minimums to the following

- [ ] WordPress to 5.7
- [ ] PHP to 7.4
- [ ] Remove any no-longer-needed conditional code for older version support.
- [ ] Take a look at adjusting our testing matrices, if applicable.
- [ ] Bump the minimums in plugin documentation and header fields.

[2022-07-16 07:13] krzema12 opened #102 "[Feature request] Add action typings"
Hi @10up!

Maintainer of https://github.com/krzema12/github-actions-kotlin-dsl here. Your action has first-class support in the library.

Recently we've come up with a way to reduce operational load when keeping library's action wrappers in sync with action's inputs. The solution includes onboarding https://github.com/krzema12/github-actions-typing. It's as easy as adding an extra YAML file to you

[2022-08-02 23:17] johnbillion opened #103 "Option for a trunk-only deployment"
**Is your enhancement related to a problem? Please describe.**

I'd like to be assured that a deployment to wordpress.org is as expected before tagging it.

**Describe the solution you'd like**

If it was possible to perform a trunk-only release via this action, I could then verify the changes in the trunk branch are expected before triggering a regular release which creates the tag.

It would be

[2022-08-11 20:19] mtoensing opened #105 "questions regarding the build process"
Hi! Thank you very much for this GitHub action! This streamlined my process to deploy my SimpleTOC Plug-In: https://github.com/mtoensing/simpletoc/blob/master/.github/workflows/deploy.yml

I use the "build" feature and have a few questions. When I use

`Run npm install @wordpress/scripts --save-dev
`

I get these warnings and the process pauses for a few seconds. Is this normal and intended? Can I

[2022-10-30 16:25] Sidsector9 commented on #101
@vikrampm1 this repo isn't a WordPress plugin/extension that requires these changes.
I am closing this.

[2022-10-30 16:25] #101 closed, assigned to nobody

[2022-11-28 22:18] CdrMarks opened #109 "README Example should indicate actions/checkout@master is required"
**Describe the bug**

The Example in `README.md` doesn't make it clear that `-uses: actions/checkout@master` is required.  The comment "# Remove or modify this step as needed" introduces further confusion.

**Steps to Reproduce**
1. Add a file in `.github/workflows/wordpress-plugin-deploy.yml`
[code]
2.  See this error when publishing a release:
[code]

**Expected behavior**

The action would depl

[2022-11-28 23:48] jspellman814 commented on #109
Worth noting that [actions/checkout@master](https://github.com/actions/checkout/tree/master) is no longer in use, and has been converted to [actions/checkout@main](https://github.com/actions/checkout/tree/main).

The example in the README (under [Deploy on pushing a new tag](https://github.com/10up/action-wordpress-plugin-deploy#deploy-on-pushing-a-new-tag)) mentions actions/checkout@master.